version: 2
updates:
- package-ecosystem: pip
  directory: "/docs"
  schedule:
    interval: daily
    time: "09:00"
  open-pull-requests-limit: 10
  labels:
  - "Type: Dependencies"
- package-ecosystem: npm
  directory: "/scripts"
  schedule:
    interval: weekly
    time: "09:00"
  open-pull-requests-limit: 10
  labels:
  - "Type: Dependencies"
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
    time: "09:00"
  open-pull-requests-limit: 10
  labels:
  - "Type: Dependencies"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "09:00"
  open-pull-requests-limit: 10
  labels:
  - "Type: Dependencies"
