# IntelliJ Files
.idea/
*.ipr
*.iws
*.iml

# Eclipse Files
.classpath
.project

# Build outputs
target/

# Vagrant outputs
.vagrant

# OS hidden files
.DS_Store

# Temporary Maven files
dependency-reduced-pom.xml

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Node.js dependency directories
node_modules/
out/
