# Information to access DynamoDB
dynamo:
  endpoint: dynamodb.us-east-1.amazonaws.com
  region: us-east-1
  table-name: pilot-users-test

# Information to access SES
ses:
  endpoint: email.us-east-1.amazonaws.com
  region: us-east-1
  from-address: noreply@sanctionco.com
  successHtml: success.html
  verificationHtml: verification.html
  verificationText: verification.txt

# Approved Application Authentication Credentials
approved-keys:
  - application: application
    secret: secret

# Server configuration
server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081
