# Information to access DynamoDB
database:
  endpoint: http://localhost:4567
  region: us-east-1
  tableName: pilot-users-test

# Information to access SES
email:
  endpoint: http://localhost:9001
  region: us-east-1
  fromAddress: noreply@sanctionco.com
  messageOptions:
    subject: Verification Message

# Approved Application Authentication Credentials
approvedKeys:
  - application: application
    secret: secret

# Server configuration
server:
  applicationConnectors:
    - type: http
      port: 8080
    - type: https
      port: 8443
      keyStorePath: config/dev-server.jks
      keyStorePassword: password
      validateCerts: false
      validatePeers: false

  adminConnectors:
    - type: http
      port: 8081
    - type: https
      port: 8444
      keyStorePath: config/dev-server.jks
      keyStorePassword: password
      validateCerts: false
      validatePeers: false