# Information to access the database
database:
  type: mongodb
  connectionString: mongodb://localhost:27017
  databaseName: users-db
  collectionName: users

# Information to access SES
email:
  endpoint: http://localhost:9001
  region: us-east-1
  fromAddress: noreply@sanctionco.com
  messageOptions:
    subject: Verification Message

# Approved Application Authentication Credentials
approvedKeys:
  - application: application
    secret: secret

# Allow common password mistakes
passwordHash:
  allowCommonMistakes: true

# Enforce property validation
properties:
  - name: uniqueID
    type: string
  - name: attributes
    type: list

# Server configuration
server:
  applicationConnectors:
    - type: http
      port: 8080
    - type: https
      port: 8443
      keyStorePath: config/dev-server.jks
      keyStorePassword: password
      validateCerts: false
      validatePeers: false

  adminConnectors:
    - type: http
      port: 8081
    - type: https
      port: 8444
      keyStorePath: config/dev-server.jks
      keyStorePassword: password
      validateCerts: false
      validatePeers: false