# Information to access DynamoDB
dynamo:
  endpoint: http://localhost:4567
  region: us-east-1
  tableName: pilot-users-test

# Information to access SES
ses:
  endpoint: http://localhost:9001
  region: us-east-1
  fromAddress: noreply@sanctionco.com

# Approved Application Authentication Credentials
approvedKeys:
  - application: application
    secret: secret

properties:
  - name: property1
    type: string
  - name: intproperty
    type: integer
  - name: mylist
    type: list

# Server configuration
server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081
  requestLog:
    appenders:
      - type: file
        currentLogFilename: ./log/thunder-requests.log
        archivedLogFilenamePattern: ./log/thunder-requests-%d.log

logging:
  level: INFO
  appenders:
    - type: file
      currentLogFilename: ./log/thunder.log
      archivedLogFilenamePattern: ./log/thunder-%d.log
