[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==3.4.3"
sphinx-autobuild = "==2020.9.1"
sphinxcontrib-httpexample = "==0.10.3"

[dev-packages]

[requires]
python_version = "3.6"
