[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==4.1.0"
sphinx-autobuild = "==2021.3.14"
sphinxcontrib-httpexample = "==0.11.0"

[dev-packages]

[requires]
python_version = "3.6"
