[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==3.5.2"
sphinx-autobuild = "==2021.3.14"
sphinxcontrib-httpexample = "==0.10.3"

[dev-packages]

[requires]
python_version = "3.6"
